/* Global Font Style */
* {
    font-family: "Chakra Petch", sans-serif;
}

/* Navbar Customization */
.navbar-custom {
    background-color: #7B8189; /* Background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff; /* Text color */
}

.navbar-toggler {
    border-color: #FA4616; /* Toggler button border color */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FA4616' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Content Container */
.content-container {
    margin: 20px;
}

/* Iframe Container */
.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 150%; /* Adjust this value to increase the height */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer */
.footer {
    background-color: #343a40;
    color: #ffffff;
}
.navbar-logo {
    height: 60px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
}
.weak-falcon-28 {
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #ff003c, #c648ff, #00ffff) 1;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #333;
    background-clip: padding-box;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .weak-falcon-28:hover {
    color: #333;
    background: transparent;
  }
  
  .weak-falcon-28::before,
  .weak-falcon-28::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background: linear-gradient(45deg, #ff003c, #c648ff, #00ffff);
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
  }
  
  .weak-falcon-28::before {
    transform: translate(-50%, -50%);
  }
  
  .weak-falcon-28:hover::before {
    width: 300%;
    height: 300%;
    transform: translate(-50%, -50%);
  }
  